
:root {
    --link-color: #ffffff;
}

.global-header {
    background-color: #333;
}


.global-header .main-navigation a, .global-header .main-navigation a:visited {
    color: #ffffff;
}


.global-header .main-navigation {
    color: red;
}

